@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-regular.woff2), url(/fonts/faune-regular.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/faune-italic.woff2), url(/fonts/faune-italic.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 700;
  src: url(/fonts/faune-bold.woff2), url(/fonts/faune-bold.woff);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

body {
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  background-color: #323031;
  color: #FFFFFF;
  margin: 0px 0px 0px 280px;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #323031;
  padding: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

.sidebar_item {
  margin: 20px 0;
}

.sidebar_checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

label span {
  float: right;
  font-style: italic;
}

input[type="text"] {
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: #2A2829;
  color: #FFFFFF;
  outline: none;
  padding: 5px 7px;
}

.output {
  font-size: 64px;
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  width: 100%;
  background: none;
  border: none;
  color: #FFFFFF;
  min-height: 90vh;
  padding: 40px;
} 

textarea:focus {
  outline: none;
}

input[type="range"] {
  width: 100%;
}

select {
  width: 100%;
}

.colours {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.colours div {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
}

.colours div:hover {
  cursor: pointer;
}