@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-regular.woff2), url(/fonts/faune-regular.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/faune-italic.woff2), url(/fonts/faune-italic.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 700;
  src: url(/fonts/faune-bold.woff2), url(/fonts/faune-bold.woff);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

body {
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  background-color: #323031;
  color: #DABECA;
  margin: 40px 40px 40px 320px;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #323031;
  padding: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

.sidebar_item {
  margin: 10px 0 0 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]{
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: #2A2829;
  color: #DABECA;
  outline: none;
  padding: 5px 7px;
}

.output {
  font-size: 64px;
} 