@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'Faune';
  font-weight: 400;
  src: url(/fonts/faune-regular.woff2), url(/fonts/faune-regular.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/faune-italic.woff2), url(/fonts/faune-italic.woff);
}

@font-face {
  font-family: 'Faune';
  font-weight: 700;
  src: url(/fonts/faune-bold.woff2), url(/fonts/faune-bold.woff);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

body {
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  background-color: #323031;
  color: #FFFFFF;
  margin: 0px 0px 0px 280px;
  font-size: 16px;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #323031;
  padding: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

.sidebar_item {
  margin: 20px 0;
}

.sidebar_checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 35px 0px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

label {
  display: block;
  margin-bottom: 5px;
}

label.lg {
  margin-bottom: 10px;
}

label span {
  float: right;
  font-style: italic;
}

input[type="text"] {
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  width: calc(100% - 14px);
  background-color: transparent;
  border: none;
  background-color: #2A2829;
  color: #FFFFFF;
  outline: none;
  padding: 5px 7px;
}

.output {
  font-size: 64px;
  font-family: 'Faune', Arial, Helvetica, sans-serif;
  width: 95%;
  background: none;
  border: none;
  color: #FFFFFF;
  min-height: 90vh;
  padding: 40px 80px 40px 40px;
  letter-spacing: 1px;
} 

textarea:focus {
  outline: none;
}

input[type="range"] {
  width: 100%;
}

.colours {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.colours div {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  transition: border 0.2s;
}

.colours div:hover {
  cursor: pointer;
}

.colours div.selected {
  border: 2px solid #FFFFFF;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #2A2829;
  border-radius: 50%;
  outline:none;
  transition: background-color 200ms;
}

input[type="checkbox"]:checked {
  background-color: #FFFFFF;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: calc(100% - 14px);
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #FFFFFF;
  letter-spacing: .5px;
}

select:focus {
  outline: none;
  box-shadow: none;
}

option {
  color: #323031;
}

select::-ms-expand {
  display: none;
}

.select {
  width: calc(100% - 14px);
  border: 0;
  padding: 5px 7px;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.4;
  background-color: #2A2829;
  background-image: linear-gradient(to top, #2A2829, #2A2829 33%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #FFFFFF;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

/* 
  Range input styling 
*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2A2829;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2A2829;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2A2829;
  border: 4px solid #2A2829;
}
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2A2829;
  border: 0px solid #000101;
  box-shadow: none;
}
input[type=range]::-ms-fill-upper {
  background: #2A2829;
  border: 0px solid #000101;
  box-shadow: none;
}
input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2A2829;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2A2829;
}
